<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Edit Oder</h4>

    <div class="row">
      <!-- Form controls -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Username <span style="color: red">*</span></label>
              <select name="username" class="form-select">
                <option>Please choose</option>
                <option value="1" selected>one</option>
                <option value="2">two</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Total Price <span style="color: red">*</span></label>
              <input type="text" name="total_price" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">Status <span style="color: red">*</span></label>
              <select name="status" class="form-select">
                <option>Please choose</option>
                <option value="1" selected>booked</option>
                <option value="2">delivery</option>
                <option value="2">cancelled</option>
              </select>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>