<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages /</span> News</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">News
        <a routerLink="/news/create">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create News +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let new of news">
              <td><strong>{{ new.id }}</strong></td>
              <td>{{ new.title }}</td>
              <td><img src="{{ new.image }}" alt="Avatar" style="width: 40px; height: 40px"></td>
              <td>{{ new.description }}</td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/news/edit/{{ new.id }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                    <a class="dropdown-item" (click)="delete(new.id)"><i class="bx bx-trash me-1"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>