<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Edit Player</h4>

    <div class="row">
      <!-- Form controls -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">PLAYER NAME <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="player.name" name="name" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">DATE OF BIRTH <span style="color: red">*</span></label>
              <input type="date" [(ngModel)]="player.dateOfBirth" name="date_of_birth" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">NATIONALITY <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="player.nationality" name="nationality" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">TEAM<span style="color: red">*</span></label>
              <select name="team_id" [(ngModel)]="player.team.id" class="form-select">
                <option value="" selected>Please choose</option>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">POSITION <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="player.position" name="position" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">ACHIEVEMENTS <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="player.achievements" name="achievements" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">Status <span style="color: red">*</span></label>
              <select id="defaultSelect" name="status" class="form-select" [(ngModel)]="player.status">
                <option [ngValue]="1">Active</option>
                <option [ngValue]="0">Deactive</option>
              </select>
            </div>
            <div>
              <button (click)="update()" class="btn btn-primary" style="float: right">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>