<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages /</span> Matchs</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">Matchs
        <a href="../manage-create/match-create.html">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create Match +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Date</th>
            <th>Time</th>
            <th>Score</th>
            <th>Score Info</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          <tr>
            <td><strong>1</strong></td>
            <td>09/08/2023</td>
            <td>17:38</td>
            <td>1 - 1</td>
            <td>
              xxxxxxxxxxxxxxxxx
            </td>
            <td><span class="badge bg-label-primary me-1">Active</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../manage-edit/match-edit.html"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>