<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages /</span> Soccer Players</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">Soccer Players
        <a routerLink="/player/create">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create Player +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Player Name</th>
            <th>Date Of Birth</th>
            <th>Nationality</th>
            <th>Team Name</th>
            <th>Position</th>
            <th>Achievements</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          <tr *ngFor="let player of players">
            <td><strong>{{ player.id }}</strong></td>
            <td>{{ player.name }}</td>
            <td>{{ player.dateOfBirth | date:'dd/MM/yyyy' }}</td>
            <td>
              {{ player.nationality }}
            </td>
            <td>
              {{ player.team.name }}
            </td>
            <td>
              {{ player.position }}
            </td>
            <td>
              {{ player.achievements }}
            </td>
            <td>
              <span [ngClass]="player.status === 1 ? 'badge bg-label-primary me-1' : 'badge bg-label-secondary me-1'">
                {{ player.status === 1 ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/player/edit/{{player.id}}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" (click)="delete(player.id)"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>