<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span> User Accounts</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">
        User Accounts
        <a routerLink="/user/create">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create User +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Stt</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr>
              <td><strong>1</strong></td>
              <td>phomit03</td>
              <td>nxuanthao03@gmail.com</td>
              <td>*******************</td>
              <td>Nghe An</td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/user/edit"
                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                    >
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bx bx-trash me-1"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>