<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Create User</h4>

    <div class="row">
      <!-- Form controls -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">username <span style="color: red">*</span></label>
              <input name="username" type="tel" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">email <span style="color: red">*</span></label>
              <input name="email" type="email" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">password <span style="color: red">*</span></label>
              <input name="password" type="password" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">address</label>
              <input name="address" type="text" class="form-control"/>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>