<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Edit Match</h4>

    <div class="row">
      <!-- Form controls -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">TITLE <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="new.title" name="title" class="form-control" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">IMAGE <span style="color: red">*</span></label>
              <span>
                Upload ảnh tại: <a href="https://imgur.com/upload" target="_blank">imgurl.com</a>
              </span>
              <input class="form-control" [(ngModel)]="new.image" name="image" type="text" required>
            </div>
            <div class="mb-3">
              <label class="form-label">DESCRIPTION <span style="color: red">*</span></label>
              <input type="text" [(ngModel)]="new.description" name="description" class="form-control" required/>
            </div>
            <div>
              <button (click)="update()" class="btn btn-primary" style="float: right">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>