<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages /</span> Products</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">Products
        <a routerLink="/product/create">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create Product +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Product Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          <tr *ngFor="let product of products">
            <td><strong>{{ product.id }}</strong></td>
            <td>{{ product.name }}</td>
            <td>
              <img src="{{ product.image }}"
                     alt="Avatar" style="width: 70px; height: 70px">
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}$</td>
            <td>{{ product.category.name }}</td>
            <td>
              <span [ngClass]="product.status === 1 ? 'badge bg-label-primary me-1' : 'badge bg-label-secondary me-1'">
                {{ product.status === 1 ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/product/edit/{{ product.id }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" (click)="delete(product.id)"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>