<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages /</span> Products</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h3 class="card-header">Products
        <a routerLink="/product/create">
          <button class="btn btn-primary" style="float:right;vertical-align: middle;">Create Product +</button>
        </a>
      </h3>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Product Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          <tr>
            <td><strong>1</strong></td>
            <td>Ao dau clb Real</td>
            <td>
              <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSoHJHYBAqFoHhnapDSZzGZbkWKBhK2u54JvxMF7pcBrn4Z8uWfgueKyJ-5BrfHIkn_ov_ikPiavkK105k1HUoe6crj5KnXGunzEjVfKPQQcqvfO1yDQRYayho&usqp=CAc"
                     alt="Avatar" style="width: 70px; height: 70px">
            </td>
            <td>1</td>
            <td>20$</td>
            <td>Fashion</td>
            <td><span class="badge bg-label-primary me-1">Active</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/product/edit"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

  </div>